


/* Basic Reset */
body,
h1,
h2,
h3,
p,
form,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Body Styling */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  /* background-color: #CBC0D3; */
  
}

/* Navbar Styling */
.navbar {
  background-color: #353535;
  color: #fff;
  display: flex; 
  justify-content: space-between; 
  padding: 10px 20px;
  align-items: center;
  
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 20px;
}

.nav-link:hover {
  background-color: #555;
}

/* Basic Layout Styles */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

/* Form Styling */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  transition: all 0.3s ease-out;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-top: 0;
  color: #333;
}

.card p {
  color: #666;
}

/* Optionally, if you want to align cards in a grid */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.nav-right{
  display: inline-block;
  margin-right: 10px;
  
}

/* added */

.nav-right {
  margin-right: 30px;
}

.Homepage{
  padding-top: 250px;
  color:#353535;
  
}

.Homepage-tag{
  font-style: italic;
  font-size:20px;
  color:#353535;
}

.Homepage-header{
  color:#353535;
  font-size: 45px;
}

.home-nav-link{
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
}
